<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>zak avila</title>
		<meta name="description" content="the personal site of zak avila">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="styles/styles.css">
		<link rel="stylesheet" href="styles/swipebox.css">
		<script src="javascript/jquery-2.1.3.min.js"></script>
		<script src="javascript/angular.min.js"></script>
		<script src="javascript/jquery.swipebox.min.js"></script>
	</head>
	<body ng-app="zakavila" ng-controller="ContentController">
	  <div class="topBar green" style="font-size:20vh">
	  	<div class="title">zak</div>
	  	<div class="title">avila</div>
	  </div>
	  <div id="pageContent" ng-switch="contentObject.type">
		  <div ng-switch-when="choices" class="contentContainer choicesContainer blue">
  		  	<div class="contentTitleContainer"><div class="contentTitle">{{contentObject.title}}</div></div>
		  	<div class="choiceContainer">
		  		<div ng-repeat="choice in contentObject.details.choices" class="choice">
		  			<div class="choiceImageContainer">
		  				<img class="choiceImage" src="{{choice.imageUrl}}"></img>
		  				<div class="choiceText">{{choice.text}}</div>
		  			</div>
		  		</div>
		  	</div>
		  </div>
		  <div ng-switch-when="descriptionList" class="contentContainer choicesContainer blue">
  		  	<div class="contentTitleContainer"><div class="contentTitle">{{contentObject.title}}</div></div>
		  	<div class="descriptionListContainer">
		  		<div ng-repeat="choice in contentObject.details.choices" class="descriptionListItem">
		  			<div class="descriptionListItemContent">
		  				<img ng-if="choice.imageUrl!=''" class="descriptionListItemImage" src="{{choice.imageUrl}}"></img>
		  				<div ng-class="(choice.imageUrl!='')?'descriptionListItemContentTitle':'descriptionListItemContentTitleFlush'">{{choice.title}}</div>
		  				<div class="descriptionListItemContentSubtitle">{{choice.subtitle}}</div>
		  				<div ng-bind-html="choice.text" class="descriptionListItemContentText"></div>
		  			</div>
		  		</div>
		  	</div>
		  </div>
		  <div ng-switch-when="textLine" class="contentContainer textLineContainer blue">
  		  	<div class="contentTitleContainer"><div class="contentTitle">{{contentObject.title}}</div></div>
		  	<div class="textLine">{{contentObject.details.text}}</div>
		  </div>
		  <div ng-switch-when="description" class="contentContainer descriptionContainer blue">
  		  	<div class="contentTitleContainer"><div class="contentTitle">{{contentObject.title}}</div></div>
		  	<div class="descriptionInnerContainer">
			  	<div style="background-image: url({{contentObject.details.imageUrl[0]}})" class="descriptionImageContainer"></div>&nbsp;&nbsp;
			  	<div class="descriptionTextContainer">
			  		<div ng-bind-html="contentObject.details.text" class="descriptionText"></div>
			  	</div>
		    </div>
		  </div>
		  <div ng-switch-default class="contentContainer textLineContainer blue">
  		  	<div class="contentTitleContainer"><div class="contentTitle">error</div></div>
		  	<div class="textLine">this page doesn't exist</div>
		  </div>
	  </div>
	<script src="javascript/index.js"></script>
	</body>
</html>