
/*
Colors:
Green: #679281;
Blue: #6E90A6;
Gray: #9CB0BD;
White: #EEF4EA;
Dark Blue: #48718C;
Darker Blue: #295470;
*/

.green {
	background-color: #BBCC44;
}

.blue {
	background-color: #48718C;
}

.gray {
	background-color: #295470;/*background-color: #9CB0BD;*/
}

@font-face {
	font-family: "Arimo";
	src: url(Arimo-Regular.ttf) format("truetype");
}

body {
	margin: 0px;
	font-family: "Arimo", Helvetica;
	color: #EEF4EA;
}

.topBar {
	height: 80vh;
	width: 100%;
	overflow: hidden;
}

.title {
	padding-left: 3vw;
	cursor: pointer;
}

.contentContainer {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.choicesContainer {
	display: table;
}

.textLineContainer {
	font-size: 5vw;
}

.descriptionContainer {
	display: table;
}

.contentTitleContainer {
	height: 10vh;
	width: 100%;
	position: absolute;
	top: 1vh;
	font-size: 32px;
}

.contentTitle {
	position: relative;
  	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.choiceContainer {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	padding-top: 10vh;
	padding-bottom: 5vh;
}

.choice {
	width: 270px;
	height: 270px;
	margin: 15px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.choice:hover {
	background-color: #295470;
}

.choiceImageContainer {
	display: inline-block;
	margin-top: 25px;
	background-color: #295470;
	width: 200px;
	height: 200px;
	position: relative;
}

.choiceImage {
	width: 130px;
	height: 130px;
	top: 35px;
	left: 35px;
	position: absolute;
}

.choiceText {
	position: absolute;
	bottom: 4px;
	left: 4px;
	font-size: 22px;
}

.descriptionListContainer {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	padding-top: 10vh;
	padding-bottom: 5vh;
}

.descriptionListItem {
	width: 550px;
	height: 270px;
	margin: 15px;
	display: inline-block;
	vertical-align: middle;
	background-color: #295470;
}

.descriptionListItemContent {
	display: inline-block;
	margin-top: 25px;
	background-color: #295470;
	width: 500px;
	height: 220px;
	position: relative;
}

.descriptionListItemImage {
	width: 50px;
	height: 50px;
	top: 0px;
	left: 0px;
	position: absolute;
}

.descriptionListItemContentTitle {
	position: absolute;
	top: 4px;
	left: 60px;
	font-size: 25px;
	line-height: 42px;
}

.descriptionListItemContentTitleFlush {
	position: absolute;
	top: 4px;
	left: 0px;
	font-size: 25px;
	line-height: 42px;
}

.descriptionListItemContentSubtitle {
	position: absolute;
	top: 4px;
	right: 0px;
	text-align: right;
	font-size: 17px;
	line-height: 45px;
	font-style: italic;
}

.descriptionListItemContentText {
	top: 58px;
	font-size: 17px;
	overflow: hidden;
	text-align: left;
	position: absolute;
	line-height: 150%;
}

.screenshotLink {
	text-decoration: underline;
	cursor: pointer;
}

.textLine {
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}

.descriptionInnerContainer {
	display: table-cell;
	vertical-align: middle;
	padding-top: 10vh;
	padding-bottom: 5vh;
}

.descriptionContentWrapper {
	display: inline-block;
	background-color: #295470;
	padding: 0px 20px 10px;
}

.descriptionImageContainer {
	width: 300px;
	height: 300px;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.descriptionTextContainer {
	display: inline-block;
	width: 300px;
	vertical-align: middle;
}

.descriptionText {
	line-height: 150%;
	margin-top: 20px;
	text-align: justify;
}

a:link {
	color: #EEF4EA;
}

a:visited {
	color: #EEF4EA;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media only screen and (max-device-width: 415px) {
	.contentTitleContainer {
		font-size: 5vw;
	}

	.choice {
		width: 45vw;
		height: 45vw;
		margin: 0;
	}

	.choice:hover {
		background-color: transparent;
	}

	.choiceImageContainer {
		width: 35vw;
		height: 35vw;
	}

	.choiceImage {
		width: 22.5vw;
		height: 22.5vw;
		top: 6.25vw;
		left: 6.25vw;
	}

	.choiceText {
		font-size: 3.5vw;
	}

	.descriptionListItem {
		width: 90vw;
		height: 45vw;
	}

	.descriptionListItemContent {
		width: 80vw;
		height: 35vw;
		margin-top: 5vw;
	}

	.descriptionListItemImage {
		width: 8.75vw;
		height: 8.75vw;
	}

	.descriptionListItemContentTitle {
		font-size: 4vw;
		left: 11.5vw;
		line-height: 7.5vw;
	}

	.descriptionListItemContentTitleFlush {
		font-size: 4vw;
		left: 0vw;
		line-height: 7.5vw;
	}

	.descriptionListItemContentSubtitle {
		font-size: 2.5vw;
		line-height: 7.75vw;
	}

	.descriptionListItemContentText {
		top: 11.5vw;
		font-size: 2.5vw;
	}

	.descriptionInnerContainer {
		padding-top: 10vh;
		padding-bottom: 10vh;
	}

	.descriptionContentWrapper {
		display: inline-block;
		width: 80vw;
		padding: 4vw 2vw 4vw;
	}

	.descriptionImageContainer {
		width: 70vw;
		height: 70vw;
	}

	.descriptionTextContainer {
		width: 70vw;
		font-size: 4vw;
	}
}
